.header_container {
    display: flex;
    color: #fff;
    .logo {
        transition: all .1s ease-in-out 0s;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 200px;
        height: 100%;
    }
    .close {
        transition: all .1s ease-in-out 0s;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80px;
        height: 100%;
    }
}

